<h2>Image data</h2>

<div id="container">
    <p>Name: <span id="name"></span></p>
    <p>StatusCode: <span id="statusCode"></span></p>
    <img id="img"/>
</div>


<!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
@section scripts{
    <script src="/signalr/hubs"></script>   
}