<div class="form-horizontal">
    <hr/>

    <div class="form-group">
        @Html.Label("Images", new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            <input name="uploadImage" id="input-id" multiple type="file" class="file-loading" accept="image/*">
        </div>
    </div>

</div>